<div class="contenedor_hijo">
    Hijo
    <div class="contenedor_msg">
        <div class="contenedor_interno">
            <div class="container_titulo">
                message: <span>{{msgInput}}</span>
            </div>
            <br>
            <div class="contenedor_btns">
                <button mat-raised-button color="primary" (click)="dispararServiceChild()">Use Service</button>
                <button mat-raised-button color="primary" (click)="dispararOutput()">Use Output Property</button>
                <button mat-raised-button color="primary" (click)="ObsChild()">Use Observable</button>
            </div>
        </div>
       
    </div>
  
</div>

