<div class="contenedor_base">
   
    
    
    <div class="contenedor_formulario">
        <h3>Formulario de Registro</h3>
        <br>
        <form action="">
            <div class="contenido_formulario">
                <label for="nombre">Nombre de Usuario</label>
                <br>
                <input type="text">
                <br>
                <label for="contrasena">Contraseña</label>
                <br>
                <input type="text">
                <br>
                <label for="contrasenaConfirmacion">Confirma la Contraseña</label>
                <br>
                <input type="text">
                <br>
                <label for="Correo">Correo</label>
                <br>
                <input type="text">
                <br>
                <input type="checkbox" name="" id=""> Enviame ofertas promocionales
                <br>
                <label for="pais">País</label>
                <br>
                <select name="pais" id=""></select>
                <br>
                <label for="ciudad">Ciudad</label>
                <br>
                <input type="text">
            </div>
        </form>
    </div>
    
    
   
    <app-tabla></app-tabla>
</div>

